[Unit]
Description=Honeynet egress containment (regla DOCKER-USER)
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/honeynet-egress.sh

[Install]
WantedBy=multi-user.target
